{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .policy-page-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .policy-page-padding {
      padding-top: 36px;
      padding-bottom: 60px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow policy-page-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ policy.title }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ policy.body }}
  </div>
</div>
